openapi: 3.2.0
info:
  title: Cendyn CRM (PUSHTech) REST Audience List API
  version: v2
  description: 'Token-authenticated REST API for the Cendyn CRM (formerly PUSHTech) hospitality CRM / CDP platform. Manage account balance, contacts and contact custom fields, companies, products, coupon lists, purchases, hotel data, audience lists and campaigns, and send email, SMS and push deliveries.


    This document was DERIVED by API Evangelist from the provider''s own published, server-rendered API reference at https://developers.cendyncrm.com/api/docs (Apitome / rspec_api_documentation). Cendyn CRM does not publish an OpenAPI document; every path, HTTP method, parameter name, parameter description and example payload here is copied verbatim from that reference. Nothing was invented.'
  contact:
    name: Cendyn
    url: https://www.cendyn.com/contact-us/
  termsOfService: https://www.cendyn.com/terms-of-use/
  x-provenance:
    publisher: API Evangelist
    method: derived
    derived_from: https://developers.cendyncrm.com/api/docs
    provider_published_openapi: false
    note: NOT published by Cendyn. Derived from the provider's public HTML API reference; verify against the live docs before production use.
servers:
- url: https://api.eu.cendyncrm.com
  description: EU data center
- url: https://api.us.cendyncrm.com
  description: US data center
security:
- accountToken: []
tags:
- name: Audience List
paths:
  /v2/account/{account_id}/lists:
    post:
      operationId: createAudienceList
      summary: Create — Audience List
      tags:
      - Audience List
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/list/create
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the list
                description:
                  description: Description of the list
                visibility:
                  description: Visibility of the list
              required:
              - name
            example:
              name: Project Ideas
              description: List of project ideas
              visibility: public
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              example:
                id: new_list_id
                name: Project Ideas
                description: List of project ideas
                visibility: public
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
    get:
      operationId: listAudienceList
      summary: List — Audience List
      tags:
      - Audience List
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/list/list
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account unique identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                lists:
                - id: list1_id
                  name: First List
                  description: Description of the first list
                  created_at: '2024-04-17T12:00:00Z'
                  visibility: public
                - id: list2_id
                  name: Second List
                  description: Description of the second list
                  created_at: '2024-04-17T12:00:00Z'
                  visibility: private
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
  /v2/account/{account_id}/lists/{id}:
    get:
      operationId: showAudienceList
      summary: Show — Audience List
      tags:
      - Audience List
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/list/show
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account unique identifier
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: List unique identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: list1_id
                name: First List
                description: Description of the first list
                created_at: '2024-04-17T12:00:00Z'
                visibility: public
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
    put:
      operationId: updateAudienceList
      summary: Update — Audience List
      tags:
      - Audience List
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/list/update
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account unique identifier
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: List unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the list
                description:
                  description: Description of the list
                visibility:
                  description: Visibility of the list
            example:
              name: Updated List
              description: Updated description
              visibility: private
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: updated_list_id
                name: Updated List
                description: Updated description
                visibility: private
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
    delete:
      operationId: deleteAudienceList
      summary: Delete — Audience List
      tags:
      - Audience List
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/list/delete
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: Account unique identifier
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: List unique identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                message: List successfully deleted
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
components:
  securitySchemes:
    accountToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Account token authentication. Send `Authorization: Token token={account.secret}`. Some operations require the account master secret (`Token token={account.master_secret}`).'
externalDocs:
  description: Cendyn CRM Developers Central
  url: https://developers.cendyncrm.com/api
