openapi: 3.2.0
info:
  title: Cendyn CRM (PUSHTech) REST Account API
  version: v2
  description: 'Token-authenticated REST API for the Cendyn CRM (formerly PUSHTech) hospitality CRM / CDP platform. Manage account balance, contacts and contact custom fields, companies, products, coupon lists, purchases, hotel data, audience lists and campaigns, and send email, SMS and push deliveries.


    This document was DERIVED by API Evangelist from the provider''s own published, server-rendered API reference at https://developers.cendyncrm.com/api/docs (Apitome / rspec_api_documentation). Cendyn CRM does not publish an OpenAPI document; every path, HTTP method, parameter name, parameter description and example payload here is copied verbatim from that reference. Nothing was invented.'
  contact:
    name: Cendyn
    url: https://www.cendyn.com/contact-us/
  termsOfService: https://www.cendyn.com/terms-of-use/
  x-provenance:
    publisher: API Evangelist
    method: derived
    derived_from: https://developers.cendyncrm.com/api/docs
    provider_published_openapi: false
    note: NOT published by Cendyn. Derived from the provider's public HTML API reference; verify against the live docs before production use.
servers:
- url: https://api.eu.cendyncrm.com
  description: EU data center
- url: https://api.us.cendyncrm.com
  description: US data center
security:
- accountToken: []
tags:
- name: Account
paths:
  /v2/account/{account_id}/balance/current:
    get:
      operationId: currentBalanceAccount
      summary: Current Balance — Account
      tags:
      - Account
      externalDocs:
        description: Cendyn CRM API reference
        url: https://developers.cendyncrm.com/api/docs/account/current_balance
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: id of the account
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                balance: '582.84660'
                currency: eur5
        '401':
          description: 'Unauthorized — missing or invalid `Authorization: Token token=...` header.'
components:
  securitySchemes:
    accountToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Account token authentication. Send `Authorization: Token token={account.secret}`. Some operations require the account master secret (`Token token={account.master_secret}`).'
externalDocs:
  description: Cendyn CRM Developers Central
  url: https://developers.cendyncrm.com/api
